[submodule "20241Q/pi/PI-2024-Q1"]
	path = 20241Q/pi/PI-2024-Q1
	url = https://github.com/tarcodaci/PI-2024-Q1
[submodule "20242Q/xml/XML-2024-Q2"]
	path = 20242Q/xml/XML-2024-Q2
	url = https://github.com/tarcodaci/XML-2024-Q2.git
[submodule "20242Q/poo/POO-2024-Q2"]
	path = 20242Q/poo/POO-2024-Q2
	url = https://github.com/tarcodaci/POO-2024-Q2.git
[submodule "20251Q/arqui/Arqui-TPE-20251Q"]
	path = 20251Q/arqui/Arqui-TPE-20251Q
	url = https://github.com/SebaNLee/Arqui-TPE-20251Q
[submodule "20252Q/so/SO-TP1-20252Q"]
	path = 20252Q/so/SO-TP1-20252Q
	url = https://github.com/SebaNLee/SO-TP1-20252Q.git
[submodule "20252Q/is1/node_thing"]
	path = 20252Q/is1/node_thing
	url = https://github.com/teofum/node_thing.git
[submodule "20252Q/hci/tp-hci-web"]
	path = 20252Q/hci/tp-hci-web
	url = https://github.com/teofum/tp-hci-web.git
